{% extends "base.html" %}
{% block body %}
<article class="panel {{ color_theme }}">
    <div class="panel-heading">Consulta de ponto</div>
    <div class="panel-block">
        <form method="POST">
            {{ form.csrf_token }}
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Funcionario</label>
                        </div>
                        <div class="control">
                            <div class="select">
                                {% if current_user.is_admin %}
                                    {{ form.users_list() }}
                                {% else %}
                                    {{ form.users_list(disabled="disabled") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">{{ form.month.label}}</label>
                        </div>
                        <div class="control">
                            <div class="select">
                                {{ form.month() }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">{{ form.year.label}}</label>
                        </div>
                        <div class="control">
                            <div class="select">
                                {{ form.year() }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control is-expanded">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">ﾠ</label>
                        </div>
                        <button class="button {{color_theme}}">Consultar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">
        <table class="table is-striped is-fullwidth is-hoverable">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Entrada</th>
                    {% for pause in pauses %}
                    <th>{{pause.init_label}}</th>
                    <th>{{pause.end_label}}</th>
                    {% endfor %}
                    <th>Saida</th>
                    <th>Atraso</th>
                    <th>BH</th>
                </tr>
            </thead>
            {% for register in registers %}
            <tr>
                <th>{{register.date.strftime("%d/%m/%Y")}}</td>
                <td>{{register.entry_hour}}</td>
                {% for pause in pauses %}
                <td>{{ register.get_pause(pause.id).init_hour }}</td>
                <td>{{ register.get_pause(pause.id).finish_hour }}</td>
                {% endfor %}
                <td>{{register.finish_hour}}</td>
                <td> - </td>
                <td> - </td>
            </tr>
            {% endfor %}
        </table>
</article>
{% endblock body %}