{% extends "base.html" %}

{% block extra_css%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/point/register.css') }}">
{% endblock extra_css%}
{% block extra_scripts%}
<script src="{{ url_for('static', filename='js/point/register.js') }}" type="text/javascript"></script>
{% endblock extra_scripts%}

{% block body %}
<article class="panel {{ color_theme }}">
    <div class="panel-heading">Registro de ponto</div>
    <div class="form-body">
        <div class="field is-grouped is-grouped-centered is-grouped-multiline">
            <div class="control register" id="entry">
                <label class="label">--:--</label>
                <button class="button is-ghost" onclick="register_pause('Entrada')">Entrada</button>
            </div>
            <div class="control register" id="pause1">
                <label class="label">--:--</label>
                <button class="button is-ghost" onclick="register_pause('Lanche')">Lanche</button>
            </div>
            <div class="control register" id="pause1_return">
                <label class="label">--:--</label>
                <button class="button is-ghost" onclick="register_pause('Retorno do Lanche')">Retorno Lanche</button>
            </div>
            <div class="control register" id="exit">
                <label class="label">--:--</label>
                <button class="button is-ghost" onclick="register_pause('Saida')">Saida</button>
            </div>
        </div>
    </div>
</article>
{% endblock body %}