{% extends "base.html" %}

{% block extra_css%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/point/register.css') }}">
{% endblock extra_css%}
{% block extra_scripts%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<script src="{{ url_for('static', filename='js/point/register.js') }}" type="text/javascript"></script>
{% endblock extra_scripts%}

{% block body %}
<article class="panel {{ color_theme }}">
    <div class="panel-heading">Registro de ponto</div>
    <div class="form-body">
        <div class="field is-grouped is-grouped-centered is-grouped-multiline">
            <div class="control register" id="entry">
                <label class="label">--:--:--</label>
                <button class="button is-ghost" onclick="register_entry()">Entrada</button>
            </div>
            {% for pause in pauses %}
            <div class="control register" id="entry-{{pause.id}}">
                <label class="label">--:--:--</label>
                <button class="button is-ghost"
                    onclick="register_pause( '{{ pause.id }}', 'entry')">{{pause.init_label}}</button>
            </div>
            <div class="control register" id="finish-{{pause.id}}">
                <label class="label">--:--:--</label>
                <button class="button is-ghost"
                    onclick="register_pause( '{{ pause.id }}', 'finish')">{{pause.end_label}}</button>
            </div>
            {% endfor %}
            <div class="control register" id="finish">
                <label class="label">--:--:--</label>
                <button class="button is-ghost" onclick="register_finish()">Saida</button>
            </div>
            <div class="control"></div>
        </div>
    </div>
</article>
{% endblock body %}